@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html,
body {
  background-color: rgb(150, 116, 76);
}

main {
  height: 100%;
  max-height: 100%;
}

/* temp. TODO: apply only to relevant divs? */
div {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 1px;
}

.text-with-tt {
  text-decoration: dashed underline;
}

div.content {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 50px auto 20px;
  padding: 0px;
}

div.menu-bar {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  gap: 5px;
}

div.menu-item {
  text-align: center;
  vertical-align: middle;
}

div.menu-item > a.active {
  font-weight: bold;
}

div.footer {
  height: 20px;
  max-height: 20px;
  overflow: hidden;
  font-size: x-small;
}

div.footer > a {
  text-decoration: underline;
}

/* TODO: standardize colors more. */

div.vert-filter-bar {
  max-height: calc(100lvh - 120px);
  background-color: rgb(187, 156, 119);
  overflow-y: auto;
  border-radius: 0px;
}

div.toggle-row {
  display: flex;
  align-items: center;
}

div.center-content {
  max-height: 100%;
  background-color: bisque;
  overflow-y: auto;
}

div.license-view {
  background-color: bisque;
}

div.settings-view {
  background-color: bisque;
  padding-left: 50px;
}

div.settings-item {
  cursor: pointer;
  border: 1px solid rgb(187, 156, 119);
  width: 50%;
}

div.catalog-view {
  display: grid;
  grid-template-columns: 150px auto 600px;
  background-color: antiquewhite;
  max-height: calc(100vh - 120px);
  height: calc(100vh - 120px);
  padding: 0px;
}

div.catalog-filter {
  max-height: calc(100lvh - 120px);
  background-color: rgb(187, 156, 119);
  padding: 3px;
  border-radius: 0px;
}

div.catalog-type-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img.catalog-icon {
  padding: 1px;
}

div.catalog-type-selection > img.selected {
  border: 2px solid black;
}

div.item-category-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  cursor: pointer;
}

.category-selection {
  width: 40px;
  height: 40px;
}

svg.unselected {
  color: darkred;
}

svg.selected {
  color: green;
}

div.catalog {
  display: grid;
  grid-template-rows: 50px auto;
  max-height: calc(100vh - 120px);
  background-color: bisque;
  padding: 0px;
}

div.search-bar {
  background-color: rgb(187, 156, 119);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 0px;
}

div.catalog-name {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.catalog-name > img.catalog-icon {
  height: 40px;
}

input.catalog-search {
  border: 1px solid black;
  background-color: rgb(215, 180, 137);
  width: 80%;
}

div.catalog-search-content {
  width: 100%;
}

div.catalog-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto-fit;
  padding: 15px;
  gap: 20px;
}

div.catalog-item {
  min-height: 200px;
  max-height: 200px;
  border: 1px solid black;
  padding: 3px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

div.missing-source {
  background-color: rgb(240, 135, 156);
}

div.complete {
  background-color: rgb(242, 245, 214);
}

div.with-recipe {
  background: repeating-linear-gradient(
    -45deg,
    rgb(242, 245, 214),
    rgb(242, 245, 214) 15px,
    transparent 15px,
    transparent 30px
  );
}

div.with-license {
  background: repeating-linear-gradient(
    45deg,
    rgb(242, 245, 214),
    rgb(242, 245, 214) 15px,
    transparent 15px,
    transparent 30px
  );
}

.name-tag {
  width: 100%;
  overflow-y: visible;
  max-height: 25px;
}

.status-icon {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  cursor: pointer;
}

.item-icon {
  height: 150px;
  width: 150px;
}

div.catalog-item > .item-icon {
  height: 100px;
  width: 100px;
}

div.details-panel > .item-icon {
  height: 200px;
  width: 200px;
}

div.catalog-item > .status-icons {
  display: grid;
  grid-template-columns: 25px 25px 25px auto;
  gap: 2px;
}

div.catalog-content div.active {
  border: 2px solid darkslateblue;
}

div.license-bar {
  background-color: darkslateblue;
  height: 100%;
  min-height: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
}

div.license-bar > .license-progress {
  background-color: lightskyblue;
  height: 100%;
  min-height: 20px;
  margin: 0;
  padding: 0;
}

div.license-bar > .progress-text {
  height: 0;
  width: 100%;
  text-align: center;
  overflow-y: visible;
  font-size: small;
  padding: 0;
  margin: 0;
  text-shadow: darkslateblue 1px 1px;
  color: white;
}

div.license-bar .progress-input {
  background-color: white;
  color: darkslateblue;
  border: 1px solid darkslateblue;
  border-radius: 5px;
  text-align: center;
  height: 20px;
}

/* TODO: does this work everywhere? */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

div.details-panel {
  max-height: calc(100lvh - 120px);
  overflow-x: auto;
  overflow-y: auto;
}

div.details-panel > .status-icons {
  display: grid;
  grid-template-columns: 25px 25px 25px;
  gap: 2px;
}

div.source-type {
  display: grid;
  grid-template-columns: 25px auto;
  vertical-align: middle;
}

.source-icon {
  height: 100%;
  width: 75%;
}

div.individual-sources {
  display: grid;
  grid-template-columns: auto;
  padding-left: 20px;
  gap: 5px;
}

div.single-source {
  display: grid;
  /* event icon (opt) - item/recipe icon - fragment icon (opt) - strings */
  grid-template-columns: 20px 20px 20px auto 20px;
  background-color: rgb(239, 221, 197);
}

div.checklist-view {
  display: grid;
  grid-template-columns: 150px 150px auto 600px;
  background-color: antiquewhite;
  max-height: calc(100vh - 120px);
  column-gap: 1px;
  padding: 0px;
}

img.event-selector {
  width: 60%;
  padding: 1px;
}

.event-selection > .selected {
  border: 2px solid black;
}

div.toggle-row {
  border: 1px solid grey;
  margin-top: 4px;
  cursor: pointer;
}

div.checkmark-toggle {
  display: grid;
  grid-template-columns: auto 25px;
}

svg.toggle-select-icon {
  width: 25px;
  margin-right: 5px;
}

div.checklist-content {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
}

div.checklist-type-container {
  border: 1px solid rgb(187, 156, 119);
}

div.type-label {
  display: flex;
  gap: 10px;
}
div.type-label > svg {
  height: 25px;
  width: 25px;
}

div.checklist-type-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

div.checklist-source-entry {
  display: grid;
  grid-template-columns: 40px auto 60px;
  background-color: rgb(228, 201, 169);
}

div.source-details-type {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

div.source-details-type > .source-icon {
  height: 40px;
  width: 40px;
}

.detail-image {
  width: 200px;
  height: 200px;
}

div.source-details-droplist {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

div.droplist-item {
  display: grid;
  grid-template-columns: 30px 30px auto 30px 50px;
  gap: 4px;
  background-color: rgb(239, 221, 197);
}

div.collected {
  background-color: rgb(239, 233, 225);
  color: rgb(153, 137, 116);
}
