@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

main {
  height: 100%;
  max-height: 100%;
}

/* temp. TODO: apply only to relevant divs */
div {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 1px;
}

.text-with-tt {
  text-decoration: dashed underline;
}

div.content {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 50px auto;
}

div.menu-bar {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  gap: 5px;
}

div.menu-item {
  text-align: center;
  vertical-align: middle;
}

div.menu-item > a.active {
  font-weight: bold;
}

div.catalog-view {
  display: grid;
  grid-template-columns: 150px auto 600px;
  background-color: antiquewhite;
  max-height: calc(100vh - 105px);
}

div.catalog-filter {
  max-height: calc(100lvh - 105px);
  background-color: rgb(187, 156, 119);
  margin: 1px;
}

div.catalog-type-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img.catalog-icon {
  padding: 1px;
}

div.catalog-type-selection > img.selected {
  border: 2px solid black;
}

div.item-category-selection {
  display: flex;
}

.category-selection {
  width: 50px;
  height: 30px;
}

.item-category-selection > .selected {
  color: red;
}

.item-category-selection > .unselected {
  color: green;
}

div.catalog {
  display: grid;
  grid-template-rows: 50px auto;
  max-height: calc(100vh - 105px);
  background-color: bisque;
}

div.search-bar {
  background-color: rgb(187, 156, 119);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

div.catalog-name {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.catalog-name > img.catalog-icon {
  height: 40px;
}

input.catalog-search {
  border: 1px solid black;
  background-color: rgb(215, 180, 137);
  width: 80%;
}

div.catalog-search-content {
  width: 100%;
}

div.catalog-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto-fit;
  max-height: 100%;
  padding: 15px;
  gap: 20px;
  background-color: bisque;
  overflow-y: auto;
}

div.catalog-item {
  min-height: 195px;
  border: 1px solid black;
  padding: 3px;
}

.name-tag {
  width: 100%;
  overflow-y: visible;
  max-height: 25px;
}

.status-icon {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.status-icons > .selected {
  color: seagreen;
}

.status-icons > .unselected {
  color: dimgray;
}

.item-icon {
  height: 150px;
  width: 150px;
}

div.catalog-item > .item-icon {
  height: 100px;
  width: 100px;
}

div.details-panel > .item-icon {
  height: 200px;
  width: 200px;
}

div.catalog-item > .status-icons {
  display: grid;
  grid-template-columns: 25px 25px 25px auto;
  gap: 2px;
}

div.catalog-content div.active {
  border: 2px solid black;
}

div.license-bar {
  background-color: darkslateblue;
  height: 100%;
  min-height: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
}

div.license-bar > .license-progress {
  background-color: lightskyblue;
  height: 100%;
  min-height: 20px;
  margin: 0;
  padding: 0;
}

div.license-bar > .progress-text {
  height: 0;
  width: 100%;
  text-align: center;
  overflow-y: visible;
  font-size: small;
  padding: 0;
  margin: 0;
  text-shadow: darkslateblue 1px 1px;
  color: white;
}

div.license-bar .progress-input {
  background-color: white;
  color: darkslateblue;
  border: 1px solid darkslateblue;
  border-radius: 5px;
  text-align: center;
  height: 20px;
}

/* does this work everywhere? */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

div.details-panel {
  max-height: calc(100lvh - 105px);
  overflow-x: auto;
  overflow-y: auto;
}

div.details-panel > .status-icons {
  display: grid;
  grid-template-columns: 25px 25px 25px;
  gap: 2px;
}

div.source-type {
  display: grid;
  grid-template-columns: 25px auto;
  vertical-align: middle;
}

.source-icon {
  height: 100%;
  width: 75%;
}

div.individual-sources {
  display: grid;
  grid-template-columns: auto;
  padding-left: 20px;
}

div.single-source {
  display: grid;
  /* event icon (opt) - item/recipe icon - fragment icon (opt) - strings */
  grid-template-columns: 20px 20px 20px auto;
}
